# ---- StrictDoc caches / build artifacts ----
**/.strictdoc/**
**/.cache/strictdoc/**
**/__pycache__/
**/*.pyc

# Caching build output
output/build/
output/**/build/
output/**/_cache/
output/**/.cache/

# ---- Keep static HTML export committed ----
!output/
!output/html/
!output/html/**